* {
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: 0;
  padding: 0;
  color: azure;
  background-color: black;
  /*font-family: "Kumar One", serif;*/
  /* TODO Add dark mode styles here. */
}

header {
  background-color: gold;
}

.light-mode {
  color: black;
  background-color: aliceblue;
  /* TODO Add light mode styles here. */
}

.center {
  
  max-width: 940px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  /* TODO Add margins to center. */
}

.poem {
  text-align: center;
}

footer {
  background-color: darkkhaki;
  /* TODO Add styles */
}

.light-mode footer {
  color: white;
  background-color: black;
  /* TODO Add footer light mode styles here. */
}

h1 {
  font-family: "Honk", system-ui;
}

#color-mode-button {
  background-color: bisque;
  color: darkslateblue;
}

button {
  min-width: 40px;
  padding: 4px 8px;
}
#calculator-buttons {
  padding: 4px;
  margin: 4px;
  max-width: 140px;
  border-style: solid;
  border-color:red;
  border-width: 2px;
  background-color: black;
}

#counter {
  padding: 4px;
  margin: 4px;
  max-width: 140px;
  border-style: solid;
  border-color:black;
  border-width: 2px;
  background-color:white;
  color: black;
}

#calculator {
  padding: 4px;
  margin: 4px;
  max-width: 160px;
  border-style: solid;
  border-color:green;
  border-width: 2px;
  background-color:silver;
  color:white;
}