* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: azure;
  background-color: black;
  /*font-family: "Kumar One", serif;*/
  /* TODO Add dark mode styles here. */
}

.light-mode {
  color: black;
  background-color: aliceblue;
  /* TODO Add light mode styles here. */
}

.center {
  
  max-width: 940px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  /* TODO Add margins to center. */
}

.poem {
  text-align: center;
}

footer {
  background-color: lightcoral;
  /* TODO Add styles */
}

.light-mode footer {
  color: white;
  background-color: black;
  /* TODO Add footer light mode styles here. */
}

h1 {
  font-family: "Honk", system-ui;
}

#color-mode-button {
  background-color: bisque;
  color: darkslateblue;
}